@{
    ViewData["title"]= "Home";
}
<div class="intro">
    <h1>WELCOME TO THE PETSTATION</h1>
    <p>This where you get that pet you are always looking for.</p>
</div>


<div class="popular">
    <h2>Popular</h2>
    <div class="row content">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="wwwroot/images/pet3.jpg" class="img-responsive" alt="Image">
            <p>pet name</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="wwwroot/images/pet1.jpg" class="img-responsive" alt="Image">
            <p>pet name</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="wwwroot/images/pet2.jpg" class="img-responsive" alt="Image">
            <p>pet name</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="wwwroot/images/pet1.jpg" class="img-responsive" alt="Image">
            <p>pet name</p>
        </div>
    </div>

    <div class="row content">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="wwwroot/images/pet2.jpg" class="img-responsive" alt="Image">
            <p>pet name</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="wwwroot/images/pet1.jpg" class="img-responsive" alt="Image">
            <p>pet name</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="wwwroot/images/pet3.jpg" class="img-responsive" alt="Image">
            <p>pet name</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="wwwroot/images/pet2.jpg" class="img-responsive" alt="Image">
            <p>pet name</p>
        </div>
    </div>

    <div class="row content">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="wwwroot/images/pet1.jpg" class="img-responsive" alt="Image">
            <p>pet name</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="wwwroot/images/pet2.jpg" class="img-responsive" alt="Image">
            <p>pet name</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="wwwroot/images/pet3.jpg" class="img-responsive" alt="Image">
            <p>pet name</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="wwwroot/images/pet2.jpg" class="img-responsive" alt="Image">
            <p>pet name</p>
        </div>
    </div>
</div>

<div class="yourSuggestion">
    <h2>Suggestions for You</h2>
    <div class="row content">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="wwwroot/images/pet3.jpg" class="img-responsive" alt="Image">
            <p>Pet Name</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="wwwroot/images/pet2.jpg" class="img-responsive" alt="Image">
            <p>Pet Name</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="wwwroot/images/pet1.jpg" class="img-responsive" alt="Image">
            <p>Pet Name</p>
        </div>
    </div>
    <div class="row content">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="wwwroot/images/pet3.jpg" class="img-responsive" alt="Image">
            <p>Pet Name</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="wwwroot/images/pet2.jpg" class="img-responsive" alt="Image">
            <p>Pet Name</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="wwwroot/images/pet3.jpg" class="img-responsive" alt="Image">
            <p>Pet Name</p>
        </div>
    </div>
    <div class="row content">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="wwwroot/images/pet2.jpg" class="img-responsive" alt="Image">
            <p>Pet Name</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="wwwroot/images/pet3.jpg" class="img-responsive" alt="Image">
            <p>Pet Name</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="wwwroot/images/pet2.jpg" class="img-responsive" alt="Image">
            <p>Pet Name</p>
        </div>
    </div>
</div>

<div>
    <button type="button" class="btn btn-large btn-block btn-primary">button</button>
</div>

<footer>
    <div class="panel panel-default">
      <div class="panel-body">
            Panel content
      </div>
      <div class="panel-footer">
            Panel footer
        </div>
    </div>
</footer>



